<p>magic results</p>

<img src="https://simpsonswiki.com/w/images/e/e5/Gypsy.png" alt="">


<p> Your question - <%= params[:question] %></p>



<p> The Magic 8 Ball's Answer: <%= @answers %></p>





</div>
